$asset-base-path: '../' !default;

@function asset($type, $file) {
  @return url($asset-base-path +  $type + '/' + $file);
}

@function image($file) {
  @return asset('images', $file);
}

// importer
@import 'reset';

// Variable

$dark-1 : #0b0b0b;
$dark-2 : #14151a;
$light-1 : #e4f0fc;
$light-2 : #48515a;
$font-stack :Droid Sans;

//  Mixin

// Google Fonts
@mixin google-font($family) {
    @import url("http://fonts.googleapis.com/css?family=#{$family}");
}

@include google-font("Droid Sans");

@mixin fullHeight {
    min-height: 100vh;
}


body {
    @include fullHeight;
    background-color: $dark-1;
    color: $light-2;

    &.windows {
        background:transparent image('windows.png') no-repeat;
        background-size:cover;
    }
}



h1 {
    font-family:$font-stack;
}

// .parent {
//     position: relative;
// }

// .child {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    @include fullHeight;
}

//